%arrows-e {
    background-image: url(images/sprite.png);
    background-position: -71px -81px;
    width: 15px;
    height: 8px;
}
%arrows-s {
    background-image: url(images/sprite.png);
    background-position: -36px -81px;
    width: 15px;
    height: 8px;
}
%check {
    background-image: url(images/sprite.png);
    background-position: -148px -36px;
    width: 8px;
    height: 6px;
}
%close {
    background-image: url(images/sprite.png);
    background-position: -38px -43px;
    width: 16px;
    height: 16px;
}
%fb {
    background-image: url(images/sprite.png);
    background-position: -148px 0px;
    width: 8px;
    height: 16px;
}
%in {
    background-image: url(images/sprite.png);
    background-position: 0px -43px;
    width: 18px;
    height: 18px;
}
%mobmenu {
    background-image: url(images/sprite.png);
    background-position: -44px 0px;
    width: 22px;
    height: 19px;
}
%mobsearch {
    background-image: url(images/sprite.png);
    background-position: 0px 0px;
    width: 24px;
    height: 23px;
}
%next-hover {
    background-image: url(images/sprite.png);
    background-position: -86px -36px;
    width: 9px;
    height: 15px;
}
%next {
    background-image: url(images/sprite.png);
    background-position: -119px 0px;
    width: 9px;
    height: 15px;
}
%prev-hover {
    background-image: url(images/sprite.png);
    background-position: -119px -35px;
    width: 9px;
    height: 15px;
}
%prev {
    background-image: url(images/sprite.png);
    background-position: -119px -70px;
    width: 9px;
    height: 15px;
}
%pt {
    background-image: url(images/sprite.png);
    background-position: -86px 0px;
    width: 13px;
    height: 16px;
}
%radio {
    background-image: url(images/sprite.png);
    background-position: -148px -62px;
    width: 6px;
    height: 6px;
}
%tw {
    background-image: url(images/sprite.png);
    background-position: 0px -81px;
    width: 16px;
    height: 13px;
}
