$icon-font-path: 'assets/bower/bootstrap-sass/assets/fonts/bootstrap/';

//
// General colors
//
$body-bg: #FFF;
$body-color: #000;
$a-color: #000;
$a-color-hover: #000;

$bg_menu_a: #f4f5f7;
$bg_menu_b: #eaecf0;

$bd_check: #31a5e7;
$bd_comment: #eee;
$bd_hash: #0049b0;

$color_a: #202020;
$color_b: #0049b0;
$color_c: #303030;
$color_d: #5e5d5c;
$color_e: #808080;

$bgc_foofter: #f4f5f7;

//
// Font face
//
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$ultra-bold: 900;
